[Unit]
Description=raspi-voice Assistant POC
After=network.target sound.target

[Service]
Type=simple
User=shane
WorkingDirectory=/home/pi/raspi-voice
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/shane/raspi-voice/.venv/bin/python -m src.app --device USB --wake-words "hey raspi"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
